
{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Boards</li>
{% endblock %}

{% block content %}
<button ><a class=""btn btn-primary href="{% url 'create_board' %}">Craete New Board</a></button><br><br>
<button><a class=""btn btn-primary href="{% url 'BoardCreate' %}">Craete REST API</a></button>

<br>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Board</th>
        <th>Posts</th>
        <th>Topics</th>
        <th>Last Post</th>
      </tr>
    </thead>
    <tbody>
      {% for board in boards %}
        <tr>
          <td>
            {{ board.name }}
            <small class="text-muted d-block">{{ board.description }}</small>
          </td>
          <td class="align-middle">0</td>
          <td class="align-middle">0</td>
          <td></td>
          <td><button><a href="{%url 'Update_Board' board.id %}">Update</a></button><br><br>
         <button><a href="{%url 'BoardUpdate' board.id %}">Update REST API</a></button ></td>
          <td><button><a href="{%url 'Delete_Board' board.id %}">Delete</a></button><br><br>
       <button>  <a href="{%url 'BoardDelete' board.id %}">Delete REST API</a></button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


<a href="{% url 'logout'%}">LOGOUT</a>
{% endblock %}