
{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Boards</li>
{% endblock %}

{% block content %}
<a class=""btn btn-primary href="{% url 'create_board' %}">Craete New Board</a><br>
<a class=""btn btn-primary href="{% url 'BoardCreate' %}">Craete REST API</a>

<br>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Board</th>
        <th>Posts</th>
        <th>Topics</th>
        <th>Last Post</th>
      </tr>
    </thead>
    <tbody>
      {% for board in boards %}
        <tr>
          <td>
            {{ board.name }}
            <small class="text-muted d-block">{{ board.description }}</small>
          </td>
          <td class="align-middle">0</td>
          <td class="align-middle">0</td>
          <td></td>
          <td><a href="{%url 'Update_Board' board.id %}">Update</a><br>
         <a href="{%url 'BoardUpdate' board.id %}">Update REST API</a> </td>
          <td><a href="{%url 'Delete_Board' board.id %}">Delete</a><br>
         <a href="{%url 'BoardDelete' board.id %}">Delete REST API</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}